* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.master-container {
    height: 100vh;
    min-height: 500px;
    width: 100%;
    min-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart-container {
    height: 90vh;
    min-height: 450px;
    width: calc(100vw - 10vh);
    min-width: 520px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid gray;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.06), 0 2px 3px rgba(0, 0, 0, 0.12);;
    display: flex;
    justify-content: center;
    align-items: center;
}
