* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    min-width: 100%;
    background-color: rgb(52, 52, 65);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container div {
    margin: 10px;
}

.login-container div input {
    height: 45px;
    width: 250px;
    padding-left: 10px;
    border-radius: 2px;
    outline: none;
    border: none;
    background-color: rgb(64, 64, 82);
    color: rgba(255, 255, 255, 0.8);
}

.login-container div input:hover {
    background-color: rgb(72, 72, 90);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: none;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0 0 0px 1000px rgb(72, 72, 90) inset;
    transition: background-color 5000s ease-in-out 0s;
}

.login-container div:nth-of-type(3) input {
    width: 100%;
    padding: 0;
    color: #fff;
    background-color: rgb(212, 84, 127);
}

.login-container div:nth-of-type(3) input:hover {
    cursor: pointer;
    background-color: rgb(245, 97, 146);
}

.register-container {
    margin-top: 0!important;
    width: calc(100% - 20px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-container-child {
    margin: 0!important;
    display: flex;
    flex-direction: row;
}

.register-container-child div {
    margin: 0!important;
    padding: 0 2.5px;
    color: gray;
}

a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: underline;
}

a:hover {
    color: rgba(245, 97, 146, 0.8);
}